# Heart Disease - Lab 1
Martin Garcia, Joanna Duran, Daniel Byrne

In [5]:
#packages
import pandas as pd
import numpy as np
from IPython.display import HTML

#read the csv file
df = pd.read_csv('heart.csv')

### Business Understanding

Our data set consist of 13 explanatory variables that help us predict if a patient has heart disease. Our response, target, is a binary response that translates to 0 for no presence of heart disease and 1 for presence of heart disease, which will have to be analyzed using a logistic regression to help classify the patients with heart disease. The data consist of 13 variables and 303 observations.

### Data Meaning Type

In [5]:
%%HTML
<br>
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
To toggle on/off the raw code, click <a href="javascript:code_toggle()">here</a>.''')

<table>
<tr>
    <td>Data</td>
    <td>Description</td>
    <td>Attributes</td>
    <td>Measurement</td>
</tr>

<tr>
    <td>Age</td>
    <td>Age in years</td>
    <td>Numeric - Ratio </td>
    <td></td>
</tr>

<tr>
    <td>sex</td>
    <td>Gender</td>
    <td>Categorical - Nominal 
        <ul>
            <li>female = 0</li>
            <li>male = 1</li>
        </ul>
    </td>
    <td>&nbsp;</td>
</tr>

<tr>
    <td>cp</td>
    <td>chest pain categories</td>
    <td>
        <ol>
            <li>Typical angina</li>
            <li>Atypical angina</li>
            <li>Non-anginal pain</li>
            <li>Asymptomatic</li>
        </ol>
    </td>
    <td>&nbsp;</td>
</tr>

<tr>
    <td>testbps</td>
    <td> Resting blood pressure</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr>
    <td>chol</td>
    <td>serum cholestoral - also incorporate triglcerides</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr>
    <td>fbs</td>
    <td>fasting blood sugar > 120 <br>1 = true; 0 = false</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr>
    <td>restecg</td>
    <td>resting electrocardiographic results</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr>
    <td>thalach</td>
    <td>maximum heart rate</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>

<tr>
    <td>exang</td>
    <td>exercise induced angina <br>1 = yes; 0 = no </td>
    <td>integer </td>
    <td>   </td>
</tr>

<tr>
    <td>oldpeak</td>
    <td>ST depression induced by exercise relative to rest</td>
    <td></td>
    <td>   </td>
</tr>

<tr>
    <td>slope</td>
    <td>the slope of the peak exercise ST segment</td>
    <td> </td>
    <td>   </td>
</tr>

<tr>
    <td>ca</td>
    <td>number of major vessels (0-3) colored by flourosopy</td>
    <td></td>
    <td>   </td>
</tr>

<tr>
    <td>thal</td>
    <td></td>
    <td> </td>
    <td>   </td>
</tr>

<tr>
    <td>target</td>
    <td>heart disease present in patient</td>
    <td>1 = yes; 0 = no </td>
    <td>   </td>
</tr>



</table>

### Data Quality

In [13]:
# count the number of missing values
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### Simple Statistics

In [16]:
df.info()

#Summary statistics for all observations/patients
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [17]:
# Aggregate by heart disease presence, 1 = yes 0 = no
df_grouped = df.groupby(by='target')


print (df_grouped.target.count())

#grouped further by sex, 1 = male, 0 = female

df_grouped = df.groupby(by=['target','sex'])
print (df_grouped.target.count())

target
0    138
1    165
Name: target, dtype: int64
target  sex
0       0       24
        1      114
1       0       72
        1       93
Name: target, dtype: int64

### Visualize Attributes

### Explore Joint Attributes and Class

### New Features

### Exceptional Work